
# Specifiying which settings to use
DJANGO_SETTINGS_MODULE="appname.settings.nameofsettingsfile"

# Security
SECRET_KEY="my-very-long-security-key"
DEBUG=True
ALLOWED_HOSTS="add-the-allowedhost-names-separated-with-space-inbetween-them-like example.com example2.com"

# HSTS & HTTPS
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False

# See documentation: https://docs.djangoproject.com/en/4.0/ref/middleware/#http-strict-transport-security before setting these values
SECURE_HSTS_SECONDS=0
SECURE_SSL_REDIRECT=False

# Syntax might be valid tuple : (key, value) or it defaults to 'None'
SECURE_PROXY_SSL_HEADER=("name-of-key", "respective-value")

# Database
DATABASE_URL="your-database-url"

# API keys
PSPDFKIT_API_KEY="your-PSPDFKit_API-key"

# MediaStorage (Cloudinary)
CLD_CLOUD_NAME="your-cloud-name"
CLD_API_KEY="your-cloud-api-key"
CLD_API_SECRET="your-cloud-api-secret"

# Email Settings ('replace <*> with your own values')
DEFAULT_FROM_EMAIL="<admin@example.com>"
EMAIL_HOST="smtp.<email-service-address>"
EMAIL_HOST_USER="<email-service-apikey>"
EMAIL_HOST_PASSWORD="<email-service-password"
EMAIL_PORT=<email-service-port>
EMAIL_USE_TLS=<True-or-False>

# if the value is 'False' means send email to console, if 'True' means send email via smtp
EMAIL_SERVER_ONLINE=False