/* ----------------------------------------- Responsive Web Page | Styles ------------------------------------------
----------------------------------------------------------------------------------------------------------------- */

@media (min-width: 992px) and (max-width: 1190px) {

    /*  Responsive Styles for
            - Small Desktops and 
            - Tablets
    */

    body {
        font-size: 13px;
    }

    /* --------------- MenuBar | Styles
------------------------------------------------------------------- */

    header {
        height: 75px;
    }

    /* -------- MenuBar Title-Logo | Styles -------- */

    .menubar.title-logo img {
        width: 67.5px;
        margin-left: 17px;
    }

    .menubar.title p {
        margin-top: -19px;
    }

    /* -------- MenuBar Links | Styles -------- */

    .menubar.nav-links {
        padding-right: 22.5px;
        border-left-width: 4.5px;
    }

    .menubar.nav-links h3 {
        margin: 24px 14px;
        height: 24px;
    }

    .menubar.nav-links a {
        padding: 17.5px;
    }

    /* MenuBar (Sign Up) Button link | Styles */

    .menubar.nav-links .sign-up {
        border-radius: 14px;
    }

    /* MenuBar (Profile) DropDown link | Styles */

    .menubar.nav-links .user-profile {
        margin: 4.5px 0 0 0;
        padding: 13px 14px;
        padding-bottom: 15px;
    }

    .menubar.nav-links .user-profile img {
        width: 2.15rem;
        height: 2.15rem;
    }

    .menubar.nav-links .profile-options {
        top: 75px;
        padding: 18px;
        border-radius: 4.5px;
    }

    .menubar.nav-links .profile-options a {
        font-size: 14px;
        margin-bottom: 9.5px;
        padding: 9px;
        border-radius: 18px;
    }

    /* ----------------------------------------- (Top) ImageSlider | Styles ------------------------------------------
----------------------------------------------------------------------------------------------------------------- */

    .top-imageslider .content-slider {
        grid-template-columns: 1.2fr 1fr;
    }

    /* ------------- ImageSlider - Content | Styles
------------------------------------------------------------------- */

    .top-imageslider .content-slider .slider-content {
        margin: 60px 40px;
        margin-right: 20px;
        padding: 40px;
        border-radius: 25px;
        border-width: 4px;
    }

    .top-imageslider .content-slider .slider-content h2 {
        margin-top: 15px;
        font-size: 45px;
    }

    .top-imageslider .content-slider .slider-content .first-para {
        font-size: 22px;
    }

    .top-imageslider .content-slider .slider-content .second-para {
        font-size: 13px;
        letter-spacing: 1.18px;
    }

    /* -------- ImageSlider - Create Button | Styles -------- */

    .top-imageslider .content-slider .slider-content a {
        font-size: 16px;
        margin: 9px;
        padding: 14px 24px;
        border-radius: 9px;
    }

    /* ------------- ImageSlider - Switch Button | Styles
------------------------------------------------------------------- */

    .top-imageslider .slider-buttons {
        margin-top: -40.5px;
    }

    .top-imageslider .slider-buttons a {
        margin: 0 4.5px;
        padding: 0px 22.5px;
        border-radius: 17.5px;
    }

    /* ----------------------------------------- Intermediate - Title | Styles ------------------------------------------
----------------------------------------------------------------------------------------------------------------- */

    .intermediate-title-1 h2,
    .intermediate-title-2 h2 {
        font-size: 30px;
    }

    .aboutpage .main-title h2 {
        font-size: 40px;
    }

    .intermediate-title-1 p,
    .intermediate-title-2 p,
    .aboutpage .main-title p {
        font-size: 14.5px;
        letter-spacing: 1.8px;
    }

    /* ------------- Intermediate - Title (Image) | Styles
------------------------------------------------------------------- */

    .intermediate-title-1 img,
    .intermediate-title-2 img,
    .aboutpage .main-title img {
        height: 100px;
    }

    /* ----------------------------------------- Middle - Detailed Content | Styles ------------------------------------------
----------------------------------------------------------------------------------------------------------------- */

    .middle-detailed-content,
    .lower-detailed-content {
        padding: 50px 60px;
    }

    /* ------------- Middle - Detailed Content (Image) | Styles
------------------------------------------------------------------- */

    .middle-detailed-content img,
    .lower-detailed-content img {
        height: 90%;
        padding: 15px;
    }

    /* ------------- Middle - Detailed Content (Details) | Styles
------------------------------------------------------------------- */

    .middle-detailed-content .content-details,
    .lower-detailed-content .content-details {
        padding: 0 15px;
        font-size: 15.5px;
    }

    .middle-detailed-content .content-details h2,
    .lower-detailed-content .content-details h2 {
        font-size: 25px;
    }

    /* -------- Middle - GetStarted Button | Styles -------- */

    .middle-detailed-content .content-details a,
    .lower-detailed-content .content-details a {
        font-size: 16px;
        margin: 9px;
        padding: 14px 24px;
        border-radius: 9px;
    }

    /* ----------------------------------------- Middle - ImageSlider | Styles ------------------------------------------
----------------------------------------------------------------------------------------------------------------- */

    .middle-imageslider {
        margin-bottom: 45px;
        width: 78%;
    }

    /* ------------- Middle - ImageSlider (Images) | Styles
------------------------------------------------------------------- */

    .middle-imageslider .images-section {
        height: 17.5rem;
    }

    .middle-imageslider .images-section .thumb-container img {
        width: 12rem;
    }

    .middle-imageslider .images-section .thumb-container img.show {
        margin: 0 13px;
    }

    /* -------- Previous & Next Button | Styles -------- */

    .middle-imageslider .images-section .previous,
    .middle-imageslider .images-section .next {
        top: 65px;
        font-size: 17px;
        margin-left: 18px;
        padding: 50px 9px;
        border-radius: 0 4.5px 4.5px 0;
    }

    .middle-imageslider .images-section .previous {
        border-radius: 4.5px 0 0 4.5px;
        margin-left: 0;
        margin-right: 18px;
    }

    /* ------------- Middle - ImageSlider (Content) | Styles
------------------------------------------------------------------- */

    .middle-imageslider .content-section p,
    .aboutpage .detailed-content .content-wrapper p {
        font-size: 15px;
        margin-top: 28px;
        letter-spacing: 1.8px;
    }

    /* -------- See More Button | Styles -------- */

    .middle-imageslider .content-section a,
    .aboutpage .detailed-content .content-wrapper a {
        font-size: 16px;
        margin: 9px;
        padding: 14px 27px;
        border-radius: 9px;
    }

    .aboutpage .detailed-content .content-wrapper a {
        margin: 1.8em;
    }

    /* ----------------------------------------- Bottom - Detailed Content | Styles ------------------------------------------
----------------------------------------------------------------------------------------------------------------- */

    .bottom-detailed-content {
        width: 78%;
        margin: 70px auto;
    }

    /* ------------- Bottom - Detailed Content (Image) | Styles
------------------------------------------------------------------- */

    .bottom-detailed-content .images-section {
        font-size: 18px;
        letter-spacing: 1.8px;
    }

    .bottom-detailed-content .images-section img {
        width: 5.25rem;
        height: 5.25rem;
    }

    /* ------------- Bottom - Detailed Content (Content) | Styles
------------------------------------------------------------------- */

    .bottom-detailed-content .content-section {
        margin-top: 45px;
    }

    .bottom-detailed-content .content-section p {
        font-size: 14px;
        letter-spacing: 1.8px;
    }

    /* ------------- Bottom-Info (Title-Logo) | Styles
------------------------------------------------------------------- */

    footer .bottom-info.logo a {
        width: 240px;
    }

    footer .bottom-info.logo img {
        width: 67.5px;
    }

    footer .bottom-logo-title p {
        margin-top: -19px;
    }

    /* ------------- Bottom-Info (Contacts) | Styles
------------------------------------------------------------------- */

    footer .contacts-heading {
        font-size: 15px;
        letter-spacing: 1.8px;
    }

    /* -------- Bottom-Info (Contacts) Images | Styles -------- */

    footer .bottom-info.contacts figure {
        font-size: 12.5px;
    }

    footer .bottom-info.contacts img {
        width: 1.4rem;
        height: 1.4rem;
    }

    /* ------------- Bottom-Info (Social) | Styles
------------------------------------------------------------------- */

    footer .bottom-info.social-links {
        padding: 17px;
        padding-top: 0;
    }

    footer .bottom-info.social-links img {
        width: 33px;
        border-radius: 14px;
        margin: 0 11px;
    }

    /* ------------- Bottom-Info (CopyRights) | Styles
------------------------------------------------------------------- */

    footer .bottom-info.copyrights {
        font-size: 9.75px;
        padding: 7.5px 24.5px;
        letter-spacing: 0.98px;
    }

    footer .bottom-info.copyrights .links a {
        margin-right: 16px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {

    /*  Responsive Styles for
            - Tablets and
            - Small Tablets
    */

    body {
        font-size: 12px;
    }

    /* --------------------------- MenuBar | Styles
------------------------------------------------------------------- */

    header {
        height: 70px;
    }

    /* -------- MenuBar Title-Logo | Styles -------- */

    .menubar.title-logo img {
        width: 60px;
        margin-left: 14px;
    }

    .menubar.title p {
        margin-top: -18px;
    }

    /* -------- MenuBar Links | Styles -------- */

    .menubar.nav-links {
        padding-right: 20px;
        border-left-width: 4px;
    }

    .menubar.nav-links h3 {
        margin: 23px 13px;
        height: 23px;
    }

    .menubar.nav-links a {
        padding: 15px;
    }

    /* MenuBar (Sign Up) Button link | Styles */

    .menubar.nav-links .sign-up {
        border-radius: 13px;
    }

    /* MenuBar (Profile) DropDown link | Styles */

    .menubar.nav-links .user-profile {
        margin: 4px 0 0 0;
        padding: 12px 13px;
        padding-bottom: 14px;
    }

    .menubar.nav-links .user-profile img {
        width: 2.05rem;
        height: 2.05rem;
    }

    .menubar.nav-links .profile-options {
        top: 70px;
        padding: 16px;
        border-radius: 4px;
    }

    .menubar.nav-links .profile-options a {
        font-size: 13px;
        margin-bottom: 9px;
        padding: 8px;
        border-radius: 16px;
    }

    /* ----------------------------------------- (Top) ImageSlider | Styles ------------------------------------------
----------------------------------------------------------------------------------------------------------------- */

    .top-imageslider .content-slider {
        grid-template-columns: 1.4fr 1fr;
    }

    /* ------------- ImageSlider - Content | Styles
------------------------------------------------------------------- */

    .top-imageslider .content-slider .slider-content {
        margin: 50px 30px;
        margin-right: 15px;
        padding: 30px;
        border-radius: 20px;
        border-width: 3px;
    }

    .top-imageslider .content-slider .slider-content h2 {
        margin-top: 10px;
        font-size: 40px;
    }

    .top-imageslider .content-slider .slider-content .first-para {
        font-size: 19px;
    }

    .top-imageslider .content-slider .slider-content .second-para {
        font-size: 12px;
        letter-spacing: 1.16px;
    }

    /* -------- ImageSlider - Create Button | Styles -------- */

    .top-imageslider .content-slider .slider-content a {
        font-size: 15px;
        margin: 8px;
        padding: 13px 23px;
        border-radius: 8px;
    }

    /* ------------- ImageSlider - Switch Button | Styles
------------------------------------------------------------------- */

    .top-imageslider .slider-buttons {
        margin-top: -41px;
    }

    .top-imageslider .slider-buttons a {
        margin: 0 4px;
        padding: 0px 20px;
        border-radius: 15px;
    }

    /* ----------------------------------------- Intermediate - Title | Styles ------------------------------------------
----------------------------------------------------------------------------------------------------------------- */

    .intermediate-title-1 h2,
    .intermediate-title-2 h2 {
        font-size: 25px;
    }

    .aboutpage .main-title h2 {
        font-size: 35px;
    }

    .intermediate-title-1 p,
    .intermediate-title-2 p,
    .aboutpage .main-title p {
        font-size: 13px;
        letter-spacing: 1.6px;
    }

    /* ------------- Intermediate - Title (Image) | Styles
------------------------------------------------------------------- */

    .intermediate-title-1 img,
    .intermediate-title-2 img,
    .aboutpage .main-title img {
        height: 80px;
    }

    /* ----------------------------------------- Middle - Detailed Content | Styles ------------------------------------------
----------------------------------------------------------------------------------------------------------------- */

    .middle-detailed-content,
    .lower-detailed-content {
        padding: 40px 50px;
    }

    /* ------------- Middle - Detailed Content (Image) | Styles
------------------------------------------------------------------- */

    .middle-detailed-content img,
    .lower-detailed-content img {
        height: 85%;
        padding: 10px;
    }

    /* ------------- Middle - Detailed Content (Details) | Styles
------------------------------------------------------------------- */

    .middle-detailed-content .content-details,
    .lower-detailed-content .content-details {
        padding: 0 10px;
        font-size: 14px;
    }

    .middle-detailed-content .content-details h2,
    .lower-detailed-content .content-details h2 {
        font-size: 20px;
    }

    /* -------- Middle - GetStarted Button | Styles -------- */

    .middle-detailed-content .content-details a,
    .lower-detailed-content .content-details a {
        font-size: 15px;
        margin: 8px;
        padding: 13px 23px;
        border-radius: 8px;
    }

    /* ----------------------------------------- Middle - ImageSlider | Styles ------------------------------------------
----------------------------------------------------------------------------------------------------------------- */

    .middle-imageslider {
        margin-bottom: 40px;
        width: 76%;
    }

    /* ------------- Middle - ImageSlider (Images) | Styles
------------------------------------------------------------------- */

    .middle-imageslider .images-section {
        height: 16rem;
    }

    .middle-imageslider .images-section .thumb-container img {
        width: 11rem;
    }

    .middle-imageslider .images-section .thumb-container img.show {
        margin: 0 11px;
    }

    /* -------- Previous & Next Button | Styles -------- */

    .middle-imageslider .images-section .previous,
    .middle-imageslider .images-section .next {
        top: 70px;
        font-size: 16px;
        margin-left: 16px;
        padding: 40px 8px;
        border-radius: 0 4px 4px 0;
    }

    .middle-imageslider .images-section .previous {
        border-radius: 4px 0 0 4px;
        margin-left: 0;
        margin-right: 16px;
    }

    /* ------------- Middle - ImageSlider (Content) | Styles
------------------------------------------------------------------- */

    .middle-imageslider .content-section p,
    .aboutpage .detailed-content .content-wrapper p {
        font-size: 14px;
        margin-top: 26px;
        letter-spacing: 1.6px;
    }

    /* -------- See More Button | Styles -------- */

    .middle-imageslider .content-section a,
    .aboutpage .detailed-content .content-wrapper a {
        font-size: 15px;
        margin: 8px;
        padding: 13px 26px;
        border-radius: 8px;
    }

    .aboutpage .detailed-content .content-wrapper a {
        margin: 1.6em;
    }

    /* ----------------------------------------- Bottom - Detailed Content | Styles ------------------------------------------
----------------------------------------------------------------------------------------------------------------- */

    .bottom-detailed-content {
        width: 76%;
        margin: 60px auto;
    }

    /* ------------- Bottom - Detailed Content (Image) | Styles
------------------------------------------------------------------- */

    .bottom-detailed-content .images-section {
        font-size: 16px;
        letter-spacing: 1.6px;
    }

    .bottom-detailed-content .images-section img {
        width: 4.5rem;
        height: 4.5rem;
    }

    /* ------------- Bottom - Detailed Content (Content) | Styles
------------------------------------------------------------------- */

    .bottom-detailed-content .content-section {
        margin-top: 40px;
    }

    .bottom-detailed-content .content-section p {
        font-size: 13px;
        letter-spacing: 1.6px;
    }

    /* ------------- Bottom-Info (Title-Logo) | Styles
------------------------------------------------------------------- */

    footer .bottom-info.logo a {
        width: 230px;
    }

    footer .bottom-info.logo img {
        width: 60px;
    }

    footer .bottom-logo-title p {
        margin-top: -18px;
    }

    /* ------------- Bottom-Info (Contacts) | Styles
------------------------------------------------------------------- */

    footer .contacts-heading {
        font-size: 14px;
        letter-spacing: 1.6px;
    }

    /* -------- Bottom-Info (Contacts) Images | Styles -------- */

    footer .bottom-info.contacts figure {
        font-size: 12px;
    }

    footer .bottom-info.contacts img {
        width: 1.3rem;
        height: 1.3rem;
    }

    /* ------------- Bottom-Info (Social) | Styles
------------------------------------------------------------------- */

    footer .bottom-info.social-links {
        padding: 16px;
        padding-top: 0;
    }

    footer .bottom-info.social-links img {
        width: 31px;
        border-radius: 13px;
        margin: 0 10px;
    }

    /* ------------- Bottom-Info (CopyRights) | Styles
------------------------------------------------------------------- */

    footer .bottom-info.copyrights {
        font-size: 9.5px;
        padding: 7px 24px;
        letter-spacing: 0.96px;
    }

    footer .bottom-info.copyrights .links a {
        margin-right: 12px;
    }
}

@media (min-width: 678px) and (max-width: 767px) {

    /*  Responsive Styles for
            - Small Tablets only
    */

    body {
        font-size: 11px;
    }

    /* --------------- MenuBar | Styles
------------------------------------------------------------------- */

    header {
        height: 65px;
    }

    /* -------- MenuBar Title-Logo | Styles -------- */

    .menubar.title-logo img {
        width: 52.5px;
        margin-left: 11px;
    }

    .menubar.title p {
        margin-top: -17px;
    }

    /* -------- MenuBar Links | Styles -------- */

    .menubar.nav-links {
        padding-right: 17.5px;
        border-left-width: 3.5px;
    }

    .menubar.nav-links h3 {
        margin: 22px 12px;
        height: 22px;
    }

    .menubar.nav-links a {
        padding: 12.5px;
    }

    /* MenuBar (Sign Up) Button link | Styles */

    .menubar.nav-links .sign-up {
        border-radius: 12px;
    }

    /* MenuBar (Profile) DropDown link | Styles */

    .menubar.nav-links .user-profile {
        margin: 3.5px 0 0 0;
        padding: 11px 12px;
        padding-bottom: 13px;
    }

    .menubar.nav-links .user-profile img {
        width: 1.95rem;
        height: 1.95rem;
    }

    .menubar.nav-links .profile-options {
        top: 65px;
        padding: 14px;
        border-radius: 3.5px;
    }

    .menubar.nav-links .profile-options a {
        font-size: 12px;
        margin-bottom: 8.5px;
        padding: 7px;
        border-radius: 14px;
    }

    /* ----------------------------------------- (Top) ImageSlider | Styles ------------------------------------------
----------------------------------------------------------------------------------------------------------------- */

    .top-imageslider .content-slider {
        grid-template-columns: 1.8fr 1fr;
    }

    /* ------------- ImageSlider - Content | Styles
------------------------------------------------------------------- */

    .top-imageslider .content-slider .slider-content {
        margin: 50px 20px;
        margin-right: 10px;
        padding: 20px;
        border-radius: 15px;
        border-width: 2px;
    }

    .top-imageslider .content-slider .slider-content h2 {
        margin-top: 5px;
        font-size: 35px;
    }

    .top-imageslider .content-slider .slider-content .first-para {
        font-size: 16px;
    }

    .top-imageslider .content-slider .slider-content .second-para {
        font-size: 11px;
        letter-spacing: 1.14px;
    }

    /* -------- ImageSlider - Create Button | Styles -------- */

    .top-imageslider .content-slider .slider-content a {
        font-size: 14px;
        margin: 7px;
        padding: 12px 22px;
        border-radius: 7px;
    }

    /* ------------- ImageSlider - Switch Button | Styles
------------------------------------------------------------------- */

    .top-imageslider .slider-buttons {
        margin-top: -41.5px;
    }

    .top-imageslider .slider-buttons a {
        margin: 0 3.5px;
        padding: 0px 17.5px;
        border-radius: 12.5px;
    }

    /* ----------------------------------------- Intermediate - Title | Styles ------------------------------------------
----------------------------------------------------------------------------------------------------------------- */

    .intermediate-title-1 h2,
    .intermediate-title-2 h2 {
        font-size: 20px;
    }

    .aboutpage .main-title h2 {
        font-size: 30px;
    }

    .intermediate-title-1 p,
    .intermediate-title-2 p,
    .aboutpage .main-title p {
        font-size: 11.5px;
        letter-spacing: 1.4px;
    }

    /* ------------- Intermediate - Title (Image) | Styles
------------------------------------------------------------------- */

    .intermediate-title-1 img,
    .intermediate-title-2 img,
    .aboutpage .main-title img {
        height: 60px;
    }

    /* ----------------------------------------- Middle - Detailed Content | Styles ------------------------------------------
----------------------------------------------------------------------------------------------------------------- */

    .middle-detailed-content,
    .lower-detailed-content {
        padding: 30px 40px;
    }

    /* ------------- Middle - Detailed Content (Image) | Styles
------------------------------------------------------------------- */

    .middle-detailed-content img,
    .lower-detailed-content img {
        height: 80%;
        padding: 5px;
    }

    /* ------------- Middle - Detailed Content (Details) | Styles
------------------------------------------------------------------- */

    .middle-detailed-content .content-details,
    .lower-detailed-content .content-details {
        padding: 0 5px;
        font-size: 12.5px;
    }

    .middle-detailed-content .content-details h2,
    .lower-detailed-content .content-details h2 {
        font-size: 16px;
    }

    /* -------- Middle - GetStarted Button | Styles -------- */

    .middle-detailed-content .content-details a,
    .lower-detailed-content .content-details a {
        font-size: 14px;
        margin: 7px;
        padding: 12px 22px;
        border-radius: 7px;
    }

    /* ----------------------------------------- Middle - ImageSlider | Styles ------------------------------------------
----------------------------------------------------------------------------------------------------------------- */

    .middle-imageslider {
        margin-bottom: 35px;
        width: 74%;
    }

    /* ------------- Middle - ImageSlider (Images) | Styles
------------------------------------------------------------------- */

    .middle-imageslider .images-section {
        height: 14.5rem;
    }

    .middle-imageslider .images-section .thumb-container img {
        width: 10rem;
    }

    .middle-imageslider .images-section .thumb-container img.show {
        margin: 0 9px;
    }

    /* -------- Previous & Next Button | Styles -------- */

    .middle-imageslider .images-section .previous,
    .middle-imageslider .images-section .next {
        top: 75px;
        font-size: 15px;
        margin-left: 14px;
        padding: 30px 7px;
        border-radius: 0 3.5px 3.5px 0;
    }

    .middle-imageslider .images-section .previous {
        border-radius: 3.5px 0 0 3.5px;
        margin-left: 0;
        margin-right: 14px;
    }

    /* ------------- Middle - ImageSlider (Content) | Styles
------------------------------------------------------------------- */

    .middle-imageslider .content-section p,
    .aboutpage .detailed-content .content-wrapper p {
        font-size: 13px;
        margin-top: 24px;
        letter-spacing: 1.4px;
    }

    /* -------- See More Button | Styles -------- */

    .middle-imageslider .content-section a,
    .aboutpage .detailed-content .content-wrapper a {
        font-size: 14px;
        margin: 7px;
        padding: 12px 25px;
        border-radius: 7px;
    }

    .aboutpage .detailed-content .content-wrapper a {
        margin: 1.4em;
    }

    /* ----------------------------------------- Bottom - Detailed Content | Styles ------------------------------------------
----------------------------------------------------------------------------------------------------------------- */

    .bottom-detailed-content {
        width: 74%;
        margin: 50px auto;
    }

    /* ------------- Bottom - Detailed Content (Image) | Styles
------------------------------------------------------------------- */

    .bottom-detailed-content .images-section {
        font-size: 14px;
        letter-spacing: 1.4px;
    }

    .bottom-detailed-content .images-section img {
        width: 3.75rem;
        height: 3.75rem;
    }

    /* ------------- Bottom - Detailed Content (Content) | Styles
------------------------------------------------------------------- */

    .bottom-detailed-content .content-section {
        margin-top: 35px;
    }

    .bottom-detailed-content .content-section p {
        font-size: 12px;
        letter-spacing: 1.4px;
    }

    /* ------------- Bottom-Info (Title-Logo) | Styles
------------------------------------------------------------------- */

    footer .bottom-info.logo a {
        width: 220px;
    }

    footer .bottom-info.logo img {
        width: 52.5px;
    }

    footer .bottom-logo-title p {
        margin-top: -17px;
    }

    /* ------------- Bottom-Info (Contacts) | Styles
------------------------------------------------------------------- */

    footer .contacts-heading {
        font-size: 13px;
        letter-spacing: 1.4px;
    }

    /* -------- Bottom-Info (Contacts) Images | Styles -------- */

    footer .bottom-info.contacts figure {
        font-size: 11.5px;
    }

    footer .bottom-info.contacts img {
        width: 1.2rem;
        height: 1.2rem;
    }

    /* ------------- Bottom-Info (Social) | Styles
------------------------------------------------------------------- */

    footer .bottom-info.social-links {
        padding: 15px;
        padding-top: 0;
    }

    footer .bottom-info.social-links img {
        width: 29px;
        border-radius: 12px;
        margin: 0 9px;
    }

    /* ------------- Bottom-Info (CopyRights) | Styles
------------------------------------------------------------------- */

    footer .bottom-info.copyrights {
        font-size: 9.25px;
        padding: 6.5px 23.5px;
        letter-spacing: 0.94px;
    }

    footer .bottom-info.copyrights .links a {
        margin-right: 8px;
    }
}

@media (max-width: 677px) {

    /*  Responsive Styles for
            - Small Tablets and
            - Mobiles
    */

    body {
        font-size: 10px;
    }

    /* --------------- MenuBar | Styles
------------------------------------------------------------------- */

    header {
        height: 60px;
    }

    /* -------- MenuBar Title-Logo | Styles -------- */

    .fixed-menubar {
        grid-template-columns: 3fr 2fr;
    }

    .menubar.title-logo img {
        width: 50px;
        margin-left: 10px;
    }

    .menubar.title p {
        margin-top: -16px;
    }

    /* -------- MenuBar Links | Styles -------- */

    .menubar.nav-links {
        padding-right: 15px;
        border-left-width: 3px;
    }

    .menubar.nav-links h3 {
        margin: 8px;
        height: 22px;
        display: none;
    }

    /* MenuBar (Sign Up) Button link | Styles */

    .menubar.nav-links .sign-up {
        border-radius: 12px;
    }

    /* MenuBar (Hamburger) Menu link | Styles */

    .menubar.nav-links .ham-menu {
        display: block;
        margin-right: 0;
    }

    .menubar.nav-links .ham-menu a {
        display: flex;
        align-items: center;
        padding: 0.5rem 0.5rem;
        border: none;
        border-radius: 5rem;
        cursor: pointer;
    }

    .menubar.nav-links .ham-menu a img {
        width: 1.65rem;
        height: 1.65rem;
    }

    .menubar.nav-links .ham-menu a:hover {
        scale: 1.1;
    }

    .menubar.nav-links .ham-menu a:active {
        background-color: rgba(0, 86, 179, 0.1);
    }

    /* ----------------------------------------- (Top) ImageSlider | Styles ------------------------------------------
----------------------------------------------------------------------------------------------------------------- */

    .top-imageslider .content-slider {
        grid-template-columns: 2fr 0.6fr;
    }

    /* ------------- ImageSlider - Content | Styles
------------------------------------------------------------------- */

    .top-imageslider .content-slider .slider-content {
        margin: 50px 10px;
        margin-right: 5px;
        padding: 10px;
        border-radius: 10px;
        border-width: 1px;
    }

    .top-imageslider .content-slider .slider-content h2 {
        margin-top: 2px;
        font-size: 30px;
    }

    .top-imageslider .content-slider .slider-content .first-para {
        font-size: 13px;
    }

    .top-imageslider .content-slider .slider-content .second-para {
        font-size: 10px;
        letter-spacing: 1.12px;
    }

    /* -------- ImageSlider - Create Button | Styles -------- */

    .top-imageslider .content-slider .slider-content a {
        font-size: 13px;
        margin: 6px;
        padding: 11px 21px;
        border-radius: 6px;
    }

    /* ------------- ImageSlider - Switch Button | Styles
------------------------------------------------------------------- */

    .top-imageslider .slider-buttons {
        margin-top: -42px;
    }

    .top-imageslider .slider-buttons a {
        margin: 0 3px;
        padding: 0px 15px;
        border-radius: 10px;
    }

    /* ----------------------------------------- Intermediate - Title | Styles ------------------------------------------
----------------------------------------------------------------------------------------------------------------- */

    .intermediate-title-1 h2,
    .intermediate-title-2 h2 {
        font-size: 15px;
    }

    .aboutpage .main-title h2 {
        font-size: 25px;
    }

    .intermediate-title-1 p,
    .intermediate-title-2 p,
    .aboutpage .main-title p {
        font-size: 10px;
        letter-spacing: 1.2px;
    }

    /* ------------- Intermediate - Title (Image) | Styles
------------------------------------------------------------------- */

    .intermediate-title-1 img,
    .intermediate-title-2 img,
    .aboutpage .main-title img {
        height: 40px;
    }

    /* ----------------------------------------- Middle - Detailed Content | Styles ------------------------------------------
----------------------------------------------------------------------------------------------------------------- */

    .middle-detailed-content,
    .lower-detailed-content {
        padding: 20px 30px;
    }

    /* ------------- Middle - Detailed Content (Image) | Styles
------------------------------------------------------------------- */

    .middle-detailed-content img,
    .lower-detailed-content img {
        height: 75%;
        padding: 0;
    }

    @media (max-width: 500px) {

        .middle-detailed-content,
        .lower-detailed-content {
            grid-template-columns: 1fr;
        }

        .middle-detailed-content img,
        .lower-detailed-content img {
            width: 80%;
            height: 95%;
            margin: 0 auto;
        }

        .middle-detailed-content .content-details h2,
        .lower-detailed-content .content-details h2 {
            text-decoration: underline;
            text-decoration-color: var(--orangeweb);
            text-decoration-thickness: 1px;
            text-underline-offset: 2px;
        }

        /* ------------- Bottom - Detailed Content (Image) | Styles
------------------------------------------------------------------- */

        .bottom-detailed-content .images-section {
            flex-direction: column;
        }

        .bottom-detailed-content .images-section figure {
            width: 200px;
            margin-bottom: 20px;
        }

        .bottom-detailed-content .images-section figure img {
            width: 5rem;
            height: 5rem;
        }

        .bottom-detailed-content .images-section figure figcaption {
            font-size: 14px;
            padding: 0;
        }

        /* ------------- Bottom - Detailed Content (Content) | Styles
------------------------------------------------------------------- */

        .bottom-detailed-content div.content-section {
            margin-top: 20px;
        }
    }

    /* ------------- Middle - Detailed Content (Details) | Styles
------------------------------------------------------------------- */

    .middle-detailed-content .content-details,
    .lower-detailed-content .content-details {
        padding: 0;
        font-size: 11px;
    }

    .middle-detailed-content .content-details h2,
    .lower-detailed-content .content-details h2 {
        font-size: 15px;
    }

    /* -------- Middle - GetStarted Button | Styles -------- */

    .middle-detailed-content .content-details a,
    .lower-detailed-content .content-details a {
        font-size: 13px;
        margin: 6px;
        padding: 11px 21px;
        border-radius: 6px;
    }

    /* ----------------------------------------- Middle - ImageSlider | Styles ------------------------------------------
----------------------------------------------------------------------------------------------------------------- */

    .middle-imageslider {
        margin-bottom: 30px;
        width: 72%;
    }

    /* ------------- Middle - ImageSlider (Images) | Styles
------------------------------------------------------------------- */

    .middle-imageslider .images-section {
        height: 13rem;
    }

    .middle-imageslider .images-section .thumb-container img {
        width: 9rem;
    }

    .middle-imageslider .images-section .thumb-container img.show {
        margin: 0 7px;
    }

    /* -------- Previous & Next Button | Styles -------- */

    .middle-imageslider .images-section .previous,
    .middle-imageslider .images-section .next {
        top: 80px;
        font-size: 14px;
        margin-left: 12px;
        padding: 20px 6px;
        border-radius: 0 3px 3px 0;
    }

    .middle-imageslider .images-section .previous {
        border-radius: 3px 0 0 3px;
        margin-left: 0;
        margin-right: 12px;
    }

    /* ------------- Middle - ImageSlider (Content) | Styles
------------------------------------------------------------------- */

    .middle-imageslider .content-section p,
    .aboutpage .detailed-content .content-wrapper p {
        font-size: 12px;
        margin-top: 22px;
        letter-spacing: 1.2px;
    }

    /* -------- See More Button | Styles -------- */

    .middle-imageslider .content-section a,
    .aboutpage .detailed-content .content-wrapper a {
        font-size: 13px;
        margin: 6px;
        padding: 11px 24px;
        border-radius: 6px;
    }

    .aboutpage .detailed-content .content-wrapper a {
        margin: 1.2em;
    }

    /* ----------------------------------------- Bottom - Detailed Content | Styles ------------------------------------------
----------------------------------------------------------------------------------------------------------------- */

    .bottom-detailed-content {
        width: 72%;
        margin: 40px auto;
    }

    /* ------------- Bottom - Detailed Content (Image) | Styles
------------------------------------------------------------------- */

    .bottom-detailed-content .images-section {
        font-size: 12px;
        letter-spacing: 1.2px;
    }

    .bottom-detailed-content .images-section img {
        width: 3rem;
        height: 3rem;
    }

    /* ------------- Bottom - Detailed Content (Content) | Styles
------------------------------------------------------------------- */

    .bottom-detailed-content .content-section {
        margin-top: 30px;
    }

    .bottom-detailed-content .content-section p {
        font-size: 11px;
        letter-spacing: 1.2px;
    }

    /* ------------- Bottom-Info (Title-Logo) | Styles
------------------------------------------------------------------- */

    footer .bottom-info.logo a {
        width: 210px;
    }

    footer .bottom-info.logo img {
        width: 50px;
    }

    footer .bottom-logo-title p {
        margin-top: -15px;
    }

    /* ------------- Bottom-Info (Contacts) | Styles
------------------------------------------------------------------- */

    footer .contacts-heading {
        font-size: 12px;
        letter-spacing: 1.2px;
    }

    /* -------- Bottom-Info (Contacts) Images | Styles -------- */

    footer .bottom-info.contacts {
        flex-direction: column;
    }

    footer .bottom-info.contacts figure {
        font-size: 11px;
        margin-bottom: 20px;
    }

    footer .bottom-info.contacts figure:last-of-type {
        margin-bottom: 0;
    }

    footer .bottom-info.contacts img {
        width: 1.45rem;
        height: 1.45rem;
    }

    /* ------------- Bottom-Info (Social) | Styles
------------------------------------------------------------------- */

    footer .bottom-info.social-links {
        padding: 14px;
        padding-top: 0;
    }

    footer .bottom-info.social-links img {
        width: 27px;
        border-radius: 11px;
        margin: 0 8px;
    }

    /* ------------- Bottom-Info (CopyRights) | Styles
------------------------------------------------------------------- */

    footer .bottom-info.copyrights {
        font-size: 9.25px;
        grid-template-columns: 1fr;
        padding: 6.5px 23px;
        letter-spacing: 0.94px;
    }

    footer .bottom-info.copyrights .links {
        display: none;
    }
}