/* ----------------------------------------- Templates-Page | Styles ------------------------------------------
---------------------------------------------------------------------------------------------------- */

.templates {
    background-color: var(--platinum);
    margin: 5px 0;
}

header .fixed-menubar {
    position: fixed;
    top: 0;
    z-index: 100;
    -webkit-animation: none;
    -moz-animation: none;
    -o-animation: none;
    animation: none;
}

.templates .status {
    position: absolute;
    right: 0.5em;
    background-color: var(--oxfordbluedark);
    color: var(--orangeweb);
    margin: 0;
    padding: 0.1em 0.6em;
    z-index: 125;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    -webkit-animation: pop-in 0.3s both;
    -moz-animation: pop-in 0.3s both;
    -o-animation: pop-in 0.3s both;
    animation: pop-in 0.3s both;
}

@-webkit-keyframes pop-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes pop-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes pop-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes pop-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* --------------- Templates-Page (Template-Slider) | Styles
----------------------------------------------------------------------------- */

.templates .template-slider {
    position: relative;
    display: flex;
    align-items: flex-end;
    align-items: center;
    justify-content: center;
    height: 450px;
    overflow-x: hidden;
}

.templates .template-slider div {
    position: absolute;
    display: flex;
    width: 20em;
    height: 25em;
    border: 1px groove var(--middlegrey);
    -webkit-transition: 600ms;
    -moz-transition: 600ms;
    -o-transition: 600ms;
    transition: 600ms;
}

.templates .template-slider .position0 {
    border: 2px solid var(--orangeweb);
    scale: 1.1;
}

.templates .template-slider div img {
    width: 100%;
}

/* --------------- Templates-Page (Previous & Next) Button | Styles
----------------------------------------------------------------------------- */

.templates .template-slider .arrow-button,
.templates .template-slider .arrow-button {
    position: absolute;
    top: 50%;
    font-size: 1.5em;
    background-color: var(--orangeweb);
    opacity: 0.75;
    padding: 0.5em 1em;
    border-radius: 80px;
    z-index: 90;
    transition: 150ms;
    -webkit-transition: 150ms;
    -moz-transition: 150ms;
    -o-transition: 150ms;
}

.templates .template-slider .arrow-button.previous {
    left: 10px;
}

.templates .template-slider .arrow-button.next {
    right: 10px;
}

.templates .template-slider .arrow-button:hover {
    opacity: 0.95;
    cursor: pointer;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

.templates .template-slider .arrow-button.disabled {
    opacity: 0.45;
    cursor: not-allowed;
}

.templates .template-slider .arrow-button::-moz-selection,
.templates .template-slider .arrow-button::selection {
    background-color: transparent;
}

/* --------------- Templates-Page (Template-Toolbar) | Styles
----------------------------------------------------------------------------- */

.templates .template-toolbar {
    text-align: center;
    font-size: 1.25em;
    font-weight: 500;
    padding-bottom: 0.5em;
}

.templates .template-toolbar img {
    width: 20px;
    height: 18px;
}

.templates .template-toolbar a,
.templates .template-toolbar label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 12em;
    margin: 0.5em 1em;
    padding: 0.5em 2em;
    border: 1px solid var(--orangeweb);
    border-radius: 5em;
    cursor: pointer;
    -webkit-transition: 150ms;
    -moz-transition: 150ms;
    -o-transition: 150ms;
    transition: 150ms;
}

.templates .template-toolbar .download-button {
    background-color: var(--indigodye);
    color: var(--platinum);
    border: 1px solid var(--azure);
}

.templates .template-toolbar .edit-button:hover {
    background-color: rgba(255, 165, 0, 0.3);
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

.templates .template-toolbar .download-button:hover {
    background-color: var(--azure);
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

/* --------------- Templates-Page (Format-Selection) | Styles
----------------------------------------------------------------------------- */

.templates .selection-wrapper {
    display: none;
}

.templates .selection-wrapper.show {
    position: fixed;
    inset: 0;
    isolation: isolate;
    background-color: rgba(0, 18, 25, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 120;
}

.templates .selection-wrapper .format-selection {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5fr 1fr;
    background-color: rgba(234, 234, 234, 1);
    width: 35em;
    padding: 30px;
    border: 1em solid var(--middlegrey);
    border-radius: 20px;
}

/* ------------------- (Preview) Format-Selection | Styles -------------------- */

.templates .selection-wrapper .format-selection img {
    grid-row: 1/3;
    width: 12em;
    margin: 1rem;
    outline: 0.1em solid var(--mountbattenpink);
}

/* ------------------- (Options) Format-Selection | Styles -------------------- */

.templates .selection-wrapper .format-selection .avail-formats {
    padding: 2em;
}

.templates .selection-wrapper .format-selection .avail-formats .format {
    position: relative;
    width: fit-content;
    margin: 0.5em auto;
    cursor: pointer;
    -webkit-transition: 150ms;
    -moz-transition: 150ms;
    -o-transition: 150ms;
    transition: 150ms;
}

.templates .selection-wrapper .format-selection .avail-formats .format input {
    position: absolute;
    display: none;
    opacity: 0;
}

.templates .selection-wrapper .format-selection .avail-formats .format input~span {
    display: inline-block;
    height: 1em;
    width: 1em;
    background-color: var(--oxfordbluedark);
    border-radius: 50%;
}

.templates .selection-wrapper .format-selection .avail-formats .format label {
    display: inline-block;
    font-size: 1.05em;
    background-color: var(--indigodye);
    color: var(--aliceblue);
    width: 5em;
    padding: 0.5em 0.25em;
    border-radius: 5em;
    cursor: inherit;
}

.templates .selection-wrapper .format-selection .avail-formats .format input:checked~label,
.templates .selection-wrapper .format-selection .avail-formats .format:hover label {
    background-color: var(--azure);
    cursor: inherit;
}

.templates .selection-wrapper .format-selection .avail-formats .format input:checked~span,
.templates .selection-wrapper .format-selection .avail-formats .format:hover input:not(:checked)~span {
    background-color: var(--orangeweb);
    cursor: inherit;
}

.templates .selection-wrapper .format-selection .avail-formats .format input:checked~span,
.templates .selection-wrapper .format-selection .avail-formats .format input:checked~label {
    cursor: not-allowed;
}

/* ------------------- (Download) Format-Selection | Styles -------------------- */

.templates .selection-wrapper .format-selection .form-buttons input {
    font-size: 1.15em;
    font-weight: 500;
    background-color: rgba(255, 22, 100, 0.8);
    color: var(--aliceblue);
    padding: 10px 30px;
    box-shadow: 0 0.1em 0.4em var(--oxfordbluedark);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition: 150ms;
    -moz-transition: 150ms;
    -o-transition: 150ms;
    transition: 150ms;
}

.templates .selection-wrapper .format-selection .form-buttons input:hover {
    background-color: rgba(255, 22, 100, 1);
    scale: 1.08;
    -webkit-transition: 250ms;
    -moz-transition: 250ms;
    -o-transition: 250ms;
    transition: 250ms;
}

.templates .selection-wrapper .format-selection .form-buttons input:active,
.templates .selection-wrapper .format-selection .form-buttons input:disabled {
    background-color: var(--russianviolet);
    opacity: 0.8;
}

.templates .selection-wrapper .format-selection .form-buttons input:disabled {
    text-decoration: line-through;
    scale: 1;
    cursor: not-allowed;
}