{% extends "base.html" %}
{% load static %}

{% block title %}Create | ReSume - Builder{% endblock %}
{% block meta_description %}ReSume - Create your Resume as easy as saying 1, 2, 3 from our templates{% endblock %}

{% block content %}

<article class="builder">

    <!-- BuilderPage Title -->
    <section class="main-title">
        <h1><span class="blue">Create</span>&nbsp;your&nbsp;<b class="orange">ReSume</b> as&nbsp;easy&nbsp;as
            saying&nbsp;<span class="orange">1</span>,&nbsp;<span class="orange">2</span>,&nbsp;<span
                class="orange">3</span>
        </h1>
    </section>


    <!-- BuilderPage Images -->
    <section class="graphics-container">

        <figure class="image-wrapper">
            <img src="{% static 'Assets/Images/step_01.png' %}">
            <figcaption>Build your Resume with our step-by-step process.<span>1</span></figcaption>
        </figure>

        <figure class="image-wrapper middle">
            <img src="{% static 'Assets/Images/step_02.png' %}">
            <figcaption>Select a Professional Resume Design<span>2</span></figcaption>
        </figure>

        <figure class="image-wrapper">
            <img src="{% static 'Assets/Images/step_03.png' %}">
            <figcaption>Download or Print your new Resume<span>3</span></figcaption>
        </figure>

    </section>


    <!-- BuilderPage (Begin) Button -->
    <section class="continue-button">

        <form method="GET" action="{% url 'personal-details' %}">
            <input type="submit" value="Let's Begin">
        </form>

        <!-- BuilderPage (Progress) Bar -->
        <section class="progress-bar">

            <div class="bar-container">
                <div class="bar"></div>
            </div>

        </section>

    </section>

</article>

{% endblock %}