{% extends "base.html" %}
{% load static %}

{% block content %}

<!doctype html>
<html lang="en-US" dir="ltr">

<head>
    <title>Create | ReSume - Builder</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <link rel="stylesheet" href="{% static 'Assets/CSS/styles.css' %}">
    <link rel="stylesheet" href="{% static 'Assets/CSS/blur.css' %}">
    <link rel="stylesheet" href="{% static 'Assets/CSS/template.css' %}">
    <link rel="stylesheet" href="{% static 'Assets/CSS/responsive.css' %}">
    <link rel="icon" type="image/png" href="{% static 'Assets/Images/logo.png' %}">
    <script type="module" src="{% static 'Assets/JavaScript/menubar.js' %}"></script>
    <script type="module" src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script type="module" src="{% static 'Assets/JavaScript/logs.js' %}"></script>
    <script type="module" src="{% static 'Assets/JavaScript/progressbar.js' %}"></script>
</head>

<body>
    <main>

        <article class="getting-started">

            <section class="heading">
                <h1>Create your Resume as easy as saying 1, 2, 3</h1>
            </section>

            <section class="content">
                <figure class="images">

                    <img src="{% static 'Assets/Images/started_011.png' %}">
                    <img src="{% static 'Assets/Images/started_012.png' %}">
                    <img src="{% static 'Assets/Images/started_013.png' %}">

                </figure>

                <div class="image-captions">
                    <p>Build your Resume with our step-by-step process.<span>1</span></p>
                    <p>Select a Professional Resume Design<span>2</span></p>
                    <p>Download or Print your new Resume<span>3</span></p>
                </div>

            </section>

            <section class="continue-button">
                <a>Let's Begin</a>
            </section>

            <section class="progress-bar">

                <div class="bar-container">
                    <div class="bar"></div>
                </div>

            </section>

        </article>

    </main>
</body>

</html>

{% endblock %}