{% extends "builderTemplate.html" %}
{% load static %}


{% block formcontent %}

<!-- Forms -Section -->
<section class="forms-entry">

    <!-- Form Selection -Section -->
    <div class="form-selection hide">
        <h1>Would you like to add a Career <span class="mid-blue">Objective</span> section?</h1>

        <div class="show-options">
            <a class="yes-button">Yes</a>
            <a class="no-button">No</a>
        </div>
    </div>

    <div class="selected-form">

        <!-- Forms Title -->
        <h1>Career <span class="mid-blue">Objective</span></h1>

        <!-- Career-Objective -Form -->
        <form class="career-objective-form" method="POST" autocomplete="on">

            {% csrf_token %}

            <!-- Career-Objective -Textarea -->
            <div class="objective-container">

                <textarea class="career_objective" type="text" name="careerobjective"
                    placeholder="Add your Career Objective">{{ formData.objective }}</textarea>

            </div>

            <!-- Show Career-Objective -CheckBox -->
            <div class="skip-or-show-objective">

                {% if formData.include %}
                <label><input class="show_objective" type="checkbox" name="showobjective" checked>I want to include a
                    Career Objective on my resume</label>

                {% else %}
                <label><input class="show_objective" type="checkbox" name="showobjective">I want to include a Career
                    Objective on my resume</label>

                {% endif %}

            </div>

            <!-- Button -Section -->
            <div class="form-buttons">
                <input type="button" class="back-button" value="Back">
                <input type="submit" class="continue-button" value="Continue">
            </div>

        </form>

        <!-- Confirmation-Dialog -->
        <div class="confirmation-wrapper">
            <div class="confirmation-dialog">
                <h2 class="confirm-question">Your Career Objective will be the first thing the hiring manager reads, is
                    it ok to skip?</h2>
                <div class="confirm-option">
                    <a class="confirm-yes">Yes</a>
                    <a class="confirm-no">No</a>
                </div>
            </div>
        </div>

    </div>

</section>

{% endblock %}


{% block tipscontent %}

<!-- Tips -Content -->
<ul class="selection-tip">
    <li>Your Career Objective will be the first thing the hiring manager reads, after your name.</li>
    <li>This section, similar to a Qualifications Summary, tells the hiring manager, "Here's who I
        am, and here's what I can do for your company to help you achieve your goals."</li>
    <li>That's why we're going to help you display the broad professional skills your're capable
        ofperformng for their company..</li>
</ul>
<ul class="objective-tip hide">
    <li>To write a good resume objective, first think about how your personal background
        (experience, skills, education, and interests) makes you the best fit for the role. Why
        should the specific company hire you for that job opening? What makes you better than other
        applicants?</li>
    <li>The objective for your resume shouldn’t simply be about why you want the job either.
        Instead, your objective should align your skills, knowledge, and experience with the
        company’s goals.</li>
</ul>

{% endblock %}