{% extends "builderTemplate.html" %}
{% load static %}


{% block formcontent %}

<!-- Forms -Section -->
<section class="forms-entry">

    <!-- Forms Title -->
    <h1>Add your <span class="mid-blue">Certifications</span> if Needed</h1>

    <!-- Certifications-Form -->
    <form class="certifications-form" method="POST" autocomplete="on">

        {% csrf_token %}

        <!-- Certifications -Inputs -->
        <div class="skills-container">

            {% for certi in formData %}
            <input class="skill" type="text" value="{{ certi.name }}" placeholder="License / Certification #{{ certi.id }}">
            {% endfor %}

        </div>

        <!-- Add Certification -Button -->
        <div class="add-more">
            <a><img src="{% static 'Assets/Images/add.png' %}"> <span>Add &nbsp;Licence / Certification</span></a>
        </div>

        <!-- Button -Section -->
        <div class="form-buttons">
            <input type="button" class="back-button" value="Back">
            <input type="submit" class="continue-button" value="Continue">
        </div>

    </form>

</section>

{% endblock %}


{% block tipscontent %}

<!-- Tips -Content -->
<ul>
    <li>If your job requires you to have a certain license or certification, this is where you
        should list it.</li>
    <li>Include only the certificates relevant to the job(s) you are appling for.</li>
    <li>Format your licenses and certifications this way:&ensp;Name of the licence or
        certification,
        Issued by, Year acquired.</li>
</ul>

{% endblock %}