{% extends "builderTemplate.html" %}
{% load static %}


{% block formcontent %}

<!-- Forms -Section -->
<section class="forms-entry">

    <!-- Forms Title -->
    <h1>Add your <span class="mid-blue">Certifications</span> if Needed</h1>

    <!-- Certifications-Form -->
    <form class="certifications-form" method="POST" autocomplete="on">

        {% csrf_token %}

        <!-- Certifications -Inputs -->
        <div class="skills-container">

            <input class="certification_1" type="text" name="certification1" value="{{certifications.certification_1}}"
                placeholder="License / Certification #1">

            <input class="certification_2 hide" type="text" name="certification2"
                value="{{certifications.certification_2}}" placeholder="License / Certification #2">

            <input class="certification_3 hide" type="text" name="certification3"
                value="{{certifications.certification_3}}" placeholder="License / Certification #3">

            <input class="certification_4 hide" type="text" name="certification4"
                value="{{certifications.certification_4}}" placeholder="License / Certification #4">

            <input class="certification_5 hide" type="text" name="certification5"
                value="{{certifications.certification_5}}" placeholder="License / Certification #5">

            <input class="certification_6 hide" type="text" name="certification6"
                value="{{certifications.certification_6}}" placeholder="License / Certification #6">

        </div>

        <!-- Add Certification -Button -->
        <div class="add-more">
            <a><img src="{% static 'Assets/Images/add.png' %}"> <span>Add &nbsp;Licence / Certification</span></a>
            <p class="warning hide">Only 6 certifications can be added</p>
        </div>

        <!-- Button -Section -->
        <div class="form-buttons">
            <input type="button" class="back-button" value="Back">
            <input type="submit" class="continue-button" value="Continue">
        </div>

    </form>

</section>

{% endblock %}


{% block tipscontent %}

<!-- Tips -Content -->
<ul>
    <li>If your job requires you to have a certain license or certification, this is where you
        should list it.</li>
    <li>Include only the certificates relevant to the job(s) you are appling for.</li>
    <li>Format your licenses and certifications this way:&ensp;Name of the licence or
        certification,
        Issued by, Year acquired.</li>
</ul>

{% endblock %}