{% extends "base.html" %}
{% load static %}

{% block title %}Step 2 : Select your Resume Template | ReSume - Builder{% endblock %}
{% block meta_description %}ReSume - Step two pick the best resume templates which suits you, from our list of
professional designs{% endblock %}

{% block content %}


<article class="templates">

    <!-- Templates-Slider -->
    <section class="template-slider">

        <!-- Previous Button -->
        <a class="arrow-button previous disabled">&#10094;</a>

        {% for img, id in formData %}

        <div class="{{ id }}">
            <img src="{{ img }}">
        </div>

        {% endfor %}

        <!-- Next Button -->
        <a class="arrow-button next disabled">&#10095;</a>

    </section>

    <!-- Format-Selection Dialog -->
    <section class="selection-wrapper">
        <form class="format-selection" action="{% url 'choose-templates' %}" method="POST">

            {% csrf_token %}

            <!-- FormatSelection -Section -->
            <div class="avail-formats">
                <div class="format">
                    <input type="radio" class="word"><span></span>&nbsp;<label>Word</label>
                </div>
                <div class="format">
                    <input type="radio" class="pdf"><span></span>&nbsp;<label>Pdf</label>
                </div>
            </div>

            <!-- Button -Section -->
            <div class="form-buttons">
                <input type="submit" class="download-button" value="Download">
            </div>
        </form>
    </section>

    <!-- Message Container -->
    <h4 class="error-message">error: 404</h4>

    <!-- Templates-Toolbar -->
    <form class="template-toolbar" method="POST">

        {% csrf_token %}

        <!-- Edit -Button -->
        <a class="edit-button">
            <img src="{% static 'Assets/Images/edit.png' %}">
            <span>&ensp;Edit Resume</span>
        </a>

        <!-- Download -Button -->
        <label class="download-button">
            <input class="submit-button" type="submit" hidden>
            <img src="{% static 'Assets/Images/download.png' %}">
            <span>&ensp;Convert & Save</span>
        </label>

    </form>

</article>


{% endblock %}