{% extends "base.html" %}
{% load static %}

{% block title %}Contact | ReSume - Builder{% endblock %}
{% block meta_description %}ReSume - contact us for more support or else you have any queries{% endblock %}

{% block content %}

<article class="contactpage">

    <section class="contents-inpage">

        <!-- ContactPage Main Title -->
        <div class="heading-wrapper">
            <h2>Contact <span>US</span></h2>
            <p>- for any query or complaints</p>
        </div>


        <!-- ContactPage Detailed Content -->
        <div class="form-wrapper">

            <!-- Feedback Form -->
            <form class="feedback_form" method="POST" autocomplete="on">

                <!-- Message Container -->
                <h4 class="error-message">404 : Try Again</h4>

                {% csrf_token %}
                <p>&ensp;Your Name</p>
                <input type="name" name="customername" class="customer_name" placeholder="eg: Steve Rogers"
                    autocomplete="name">

                <p>&ensp;Email Address</p>
                <input type="email" name="customeremail" class="customer_email" placeholder="something@example.com"
                    autocomplete="email">

                <p>&ensp;How can we help?</p>
                <textarea name="customerfeedback" class="customer_feedback"
                    placeholder="Let us know your feedback by filling this form."></textarea>

                <div class="submit-wrapper">
                    <input type="submit" class="send-button" value="Send">
                </div>

            </form>

            <!-- Cellular Contact Info -->
            <div class="contact-info">
                <p>&ensp;For more Support :</p>
                <p class="para2">&emsp;&emsp;Call Us on :&ensp;<a href="tel:987654321">9876543201</a></p>
            </div>

        </div>

    </section>

</article>

{% endblock %}