{% extends "base.html" %}
{% load static %}

{% block content %}

<!doctype html>
<html lang="en-US" dir="ltr">

<head>
    <title>Create | ReSume - Builder</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <link rel="stylesheet" href="{% static 'Assets/CSS/styles.css' %}">
    <link rel="stylesheet" href="{% static 'Assets/CSS/blur.css' %}">
    <link rel="stylesheet" href="{% static 'Assets/CSS/template.css' %}">
    <link rel="stylesheet" href="{% static 'Assets/CSS/responsive.css' %}">
    <link rel="icon" type="image/png" href="{% static 'Assets/Images/logo.png' %}">
    <script type="module" src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script type="module" src="{% static 'Assets/JavaScript/logs.js' %}"></script>
    <script type="module" src="{% static 'Assets/JavaScript/sideNavbar.js' %}"></script>
    <script type="module" src="{% static 'Assets/JavaScript/tips_dropdown.js' %}"></script>
    <style>
        footer {
            display: none;
        }
    </style>
</head>

<body>
    <main class="higher-education">

        <article class="forms-navbar">

            <section class="navbar-names">

                <a class="first-link">
                    <img src="{% static 'Assets/Images/navbar_icon_01.png' %}">
                    <span>&ensp;Contact</span>
                </a>

                <a class="second-link">
                    <img src="{% static 'Assets/Images/navbar_icon_02.png' %}">
                    <span>&ensp;Experience</span>
                </a>

                <a class="third-link nav-bar-active {{link}}">
                    <img src="{% static 'Assets/Images/navbar_icon_03.png' %}">
                    <span>&ensp;Education</span>
                </a>

                <a class="fourth-link">
                    <img src="{% static 'Assets/Images/navbar_icon_04.png' %}">
                    <span>&ensp;Certifications</span>
                </a>

                <a class="fifth-link">
                    <img src="{% static 'Assets/Images/navbar_icon_05.png' %}">
                    <span>&ensp;Additional Skills</span>
                </a>

                <a class="sixth-link">
                    <img src="{% static 'Assets/Images/navbar_icon_06.png' %}">
                    <span>&ensp;Career Objective</span>
                </a>

            </section>


            <section class="form-progress">

                <div class="form-progress-title">
                    <p>Progress</p>
                </div>

                <div class="form-progress-container">
                    <div class="form-progress-bar"></div>
                </div>

                <div class="form-progress-percentage">0</div>

            </section>

        </article>

        <article class="forms-content-section">

            <section class="forms-entry">

                <div class="selection-section">
                    <h1>Choose your Higher level of <span class="mid-blue">Education</span></h1>

                    <div class="school-or-college">

                        <a class="high-school">
                            <div class="school-img">
                                <img src="{% static 'Assets/Images/school_01.png' %}">
                            </div>
                            <span>High School</span>
                        </a>

                        <a class="college-university">
                            <div class="college-img">
                                <img src="{% static 'Assets/Images/university_01.png' %}">
                            </div>
                            <span>College / University</span>
                        </a>

                    </div>

                </div>

                <div class="entrysection-1">
                    <h1>Add your <span class="mid-blue">High School</span></h1>

                    <form class="higher-education-highschool-form" method="POST" autocomplete="off">

                        {% csrf_token %}

                        <input class="school_form" name="schoolform" value="school" hidden>

                        <div class="education-school-name">

                            <input class="school_name" type="text" name="schoolname" value="{{highschool.school_name}}"
                                placeholder="High School Name*">

                        </div>

                        <div class="education-school-grade-endyear">

                            <input class="school_percentage" type="text" name="schoolpercentage"
                                value="{{highschool.school_percentage}}" placeholder="CGPA / Percentage">

                            <select class="school_passedyear" type="text" name="schoolpassedyear">

                                {% if highschool.school_passedyear == "Passed Out Year*" %}
                                <option value="Passed Out Year*" selected hidden style="color: #918C89;">Passed Out
                                    Year*
                                </option>
                                {% else %}
                                <option value="{{highschool.school_passedyear}}" selected hidden>
                                    {{highschool.school_passedyear}}
                                </option>
                                {% endif %}

                                {% for year in years %}
                                <option value="{{year}}">{{year}}</option>
                                {% endfor %}

                            </select>

                        </div>

                        <div class="education-school-country-city">

                            <select class="school_country" type="text" name="schoolcountry">

                                {% if highschool.school_country == "Country" %}
                                <option value="Country" selected hidden style="color: #918C89;">Country</option>
                                {% else %}
                                <option value="{{highschool.school_country}}" selected hidden>
                                    {{highschool.school_country}}
                                </option>
                                {% endif %}

                                {% for country in countries %}
                                <option value="{{country.name}}">{{country.name}}</option>
                                {% endfor %}

                            </select>

                            <input class="school_city" type="text" name="schoolcity" value="{{highschool.school_city}}"
                                placeholder="City">

                        </div>

                        <div class="education-school-buttons">

                            <input type="button" class="education-school-back-button" value="Back">

                            <input type="submit" class="education-school-continue-button" value="Continue">

                        </div>

                    </form>

                </div>

                <div class="entrysection-2">
                    <h1>Add your <span class="mid-blue">College</span> or <span class="mid-blue">University</span></h1>

                    <form class="higher-education-college-form" method="POST" autocomplete="off">

                        {% csrf_token %}

                        <input class="college_form" name="collegeform" value="college" hidden>

                        <div class="education-college-name">

                            <input class="college_name" type="text" name="collegename" value="{{college.college_name}}"
                                placeholder="College or University Name*">

                        </div>

                        <div class="education-college-grade-endyear">

                            <input class="college_percentage" type="text" name="collegepercentage"
                                value="{{college.college_percentage}}" placeholder="CGPA / Percentage">

                            <select class="college_passedyear" type="text" name="collegepassedyear">

                                {% if college.college_passedyear == "Passed Out Year*" %}
                                <option value="Passed Out Year*" selected hidden style="color: #918C89;">Passed Out
                                    Year*
                                </option>
                                {% else %}
                                <option value="{{college.college_passedyear}}" selected hidden>
                                    {{college.college_passedyear}}
                                </option>
                                {% endif %}

                                {% for year in years %}
                                <option value="{{year}}">{{year}}</option>
                                {% endfor %}

                            </select>

                        </div>

                        <div class="education-college-degree">

                            <input class="college_degree" type="text" name="collegedegree"
                                value="{{college.college_degree}}" placeholder="Degree or Program*">

                        </div>

                        <div class="education-college-branch">

                            <input class="college_branch" type="text" name="collegebranch"
                                value="{{college.college_branch}}" placeholder="Field of Study*">

                        </div>

                        <div class="education-college-country-city">

                            <select class="college_country" type="text" name="collegecountry">

                                {% if college.college_country == "Country" %}
                                <option value="Country" selected hidden style="color: #918C89;">Country</option>
                                {% else %}
                                <option value="{{college.college_country}}" selected hidden>
                                    {{college.college_country}}
                                </option>
                                {% endif %}

                                {% for country in countries %}
                                <option value="{{country.name}}">{{country.name}}</option>
                                {% endfor %}

                            </select>

                            <input class="college_city" type="text" name="collegecity" value="{{college.college_city}}"
                                placeholder="City">

                        </div>

                        <div class="education-college-buttons">

                            <input type="button" class="education-college-back-button" value="Back">

                            <input type="submit" class="education-college-continue-button" value="Continue">

                        </div>

                    </form>

                </div>

                <div class="edit-section">
                    <h1>Add your <span class="mid-blue">Education</span></h1>

                    <div class="edit-container">

                        <div class="first-school-college">

                            <div class="edit-content">
                                <h2>FirstName</h2>
                                <p>School</p>
                            </div>

                            <div class="edit-option">
                                <a><img src="{% static 'Assets/Images/trash_edit.png' %}"></a>
                            </div>

                        </div>

                        <div class="second-school-college">

                            <div class="edit-content">
                                <h2>SecondName</h2>
                                <p>School</p>
                            </div>

                            <div class="edit-option">
                                <a><img src="{% static 'Assets/Images/trash_edit.png' %}"></a>
                            </div>

                        </div>

                        <div class="add-school-college">
                            <a><img src="{% static 'Assets/Images/plus.png' %}"> <span>Add</span></a>
                        </div>

                        <div class="edit-buttons">
                            <a class="edit-back-button">Back</a>
                            <a class="edit-continue-button">Continue</a>
                        </div>

                    </div>

                </div>

            </section>

            <section class="forms-tips-preview">
                <a class="tips-button"><img src="{% static 'Assets/Images/tips_01.png' %}"> <span>Tips</span></a>

                <div class="tips-advice show">
                    <h3>Tips & Advice</h3>

                    <ul>
                        <li>List all your relevant education.</li>
                        <li>Don't include high school if you have completed higher education or have relevant work
                            experiece.</li>
                        <li class="college-tip">If you haven't graduated yet, OR left college before graduating, select
                            the degree type you
                            earned credit towards.</li>
                    </ul>
                </div>

            </section>

        </article>

    </main>
</body>

</html>

{% endblock %}