{% extends 'builderTemplate.html' %}
{% load static %}


{% block formcontent %}

<!-- Forms -Section -->
<section class="forms-entry">

    <!-- Form Selection -Section -->
    <div class="form-selection hide">
        <h1>Choose your Higher level of <span class="mid-blue">Education</span></h1>

        <div class="show-options school-or-college">

            <a class="high-school">
                <div class="school-img">
                    <img src="{% static 'Assets/Images/school_01.png' %}">
                </div>
                <span>High School</span>
            </a>

            <a class="college-university">
                <div class="college-img">
                    <img src="{% static 'Assets/Images/university_01.png' %}">
                </div>
                <span>College /&nbsp;University</span>
            </a>

        </div>
    </div>

    <div class="selected-form">

        <form class="higher-education-form" method="POST" autocomplete="on">

            <!-- High-School -Form -->
            <div class="school_form">

                {% csrf_token %}

                <!-- School Name -Section -->
                <div class="name-section">

                    <input class="school_name" type="text" name="schoolname" value="{{ highschool.school_name }}"
                        placeholder="High School Name*">

                </div>

                <!-- Percentage & PassedYear -Section -->
                <div class="grade-passedyear">

                    <input class="percent_grade" type="text" name="percentgrade" value="{{ highschool.school_grade }}"
                        placeholder="CGPA / Percentage">

                    <!-- PassedYear -Dropdown -->
                    <select class="passed_year" type="text" name="passedyear">

                        <!-- Default Option -->
                        <option value="{{ highschool.school_passedyear }}" selected hidden>
                            {{ highschool.school_passedyear }}</option>

                        {% for year in years %}
                        <option value="{{ year }}">{{ year }}</option>
                        {% endfor %}

                    </select>

                </div>

                <!-- Country & City -Section -->
                <div class="country-city">

                    <!-- Country -Dropdown -->
                    <select class="country_name" type="text" name="countryname">

                        <!-- Default Option -->
                        <option value="{{ highschool.school_country }}" selected hidden>{{ highschool.school_country }}
                        </option>

                        {% for country in countries %}
                        <option value="{{ country.name }}">{{ country.name }}</option>
                        {% endfor %}

                    </select>

                    <input class="city_name" type="text" name="cityname" value="{{ highschool.school_city }}"
                        placeholder="City">

                </div>

                <!-- Button -Section -->
                <div class="form-buttons">

                    <input type="button" class="back-button" value="Back">

                    <input type="submit" class="continue-button" value="Continue">

                </div>

            </div>


            <!-- College / University -Form -->
            <div class="college_form">

                {% csrf_token %}

                <!-- College / University Name -Section -->
                <div class="name-section">

                    <input class="college_name" type="text" name="collegename" value="{{ college.college_name }}"
                        placeholder="College or University Name*">

                </div>

                <!-- Percentage & PassedYear -Section -->
                <div class="grade-passedyear">

                    <input class="percent_grade" type="text" name="percentgrade" value="{{ college.college_grade }}"
                        placeholder="CGPA / Percentage">

                    <!-- PassedYear -Dropdown -->
                    <select class="passed_year" type="text" name="passedyear">

                        <!-- Default Option -->
                        <option value="{{ college.college_passedyear }}" selected hidden>
                            {{ college.college_passedyear }}</option>

                        {% for year in years %}
                        <option value="{{ year }}">{{ year }}</option>
                        {% endfor %}

                    </select>

                </div>

                <!-- Degree / Program -Section -->
                <div class="college-degree">

                    <input class="college_degree" type="text" name="collegedegree" value="{{ college.college_degree }}"
                        placeholder="Degree or Program*">

                </div>

                <!-- Field of Study -Section -->
                <div class="college-branch">

                    <input class="college_branch" type="text" name="collegebranch" value="{{ college.college_branch }}"
                        placeholder="Field of Study*">

                </div>

                <!-- Country & City -Section -->
                <div class="country-city">

                    <!-- Country -Dropdown -->
                    <select class="country_name" type="text" name="countryname">

                        <!-- Default Option -->
                        <option value="{{ college.college_country }}" selected hidden>{{ college.college_country }}
                        </option>

                        {% for country in countries %}
                        <option value="{{ country.name }}">{{ country.name }}</option>
                        {% endfor %}

                    </select>

                    <input class="city_name" type="text" name="cityname" value="{{ college.college_city }}"
                        placeholder="City">

                </div>

                <!-- Button -Section -->
                <div class="form-buttons">

                    <input type="button" class="back-button" value="Back">

                    <input type="submit" class="continue-button" value="Continue">

                </div>

            </div>

        </form>

        <!-- Edit Education -Section -->
        <div class="edit-container">

            <!-- Add Education -Button -->
            <div class="add-education">
                <a><img src="{% static 'Assets/Images/add.png' %}"> <span>Add</span></a>
            </div>

            <!-- Button -Section -->
            <div class="form-buttons">
                <a class="back-button" href="{% url 'years-of-experience' %}">Back</a>
                <a class="continue-button" href="{% url 'certifications' %}">Continue</a>
            </div>

        </div>

    </div>

</section>

{% endblock %}


{% block tipscontent %}

<!-- Tips -Content -->
<ul>
    <li>List all your relevant education.</li>
    <li>Don't include high school if you have completed higher education or have relevant work
        experiece.</li>
    <li class="college-tip">If you haven't graduated yet, OR left college before graduating, select
        the degree type you earned credit towards.</li>
</ul>

{% endblock %}