{% extends "builderTemplate.html" %}
{% load static %}


{% block formcontent %}

<!-- Forms -Section -->
<section class="forms-entry">

    <!-- Form Selection -Section -->
    <div class="form-selection hide">
        <h1>Would you like to add a work <span class="mid-blue">Experience</span> section?</h1>

        <div class="show-options">
            <a class="yes-button">Yes</a>
            <a class="no-button">No</a>
        </div>
    </div>

    <div class="selected-form">

        <!-- Forms Title -->
        <h1>Add your recent work <span class="mid-blue">Experience</span> first!</h1>

        <!-- Years-Of-Experience-Form -->
        <form class="years-of-experience-form" method="POST" autocomplete="on">

            {% csrf_token %}

            <!-- Job Title -Section -->
            <div class="jobtitle-section">

                <input class="job_title" type="text" name="jobtitle" value="{{ experience.job_title }}"
                    placeholder="Job Title*">

            </div>

            <!-- Company Name -Section -->
            <div class="companyname-section">

                <input class="company_name" type="text" name="companyname" value="{{ experience.company_name }}"
                    placeholder="Company Name*">

            </div>

            <!-- Country & City -Section -->
            <div class="country-city">

                <!-- Country -Dropdown -->
                <select class="country_name" type="text" name="countryname">

                    <!-- Default Option -->
                    <option value="{{ experience.country_name }}" selected hidden>{{ experience.country_name }}</option>

                    {% for country in countries %}
                    <option value="{{ country.name }}">{{ country.name }}</option>
                    {% endfor %}

                </select>

                <input class="city_name" type="text" name="cityname" value="{{ experience.city_name }}" placeholder="City">

            </div>

            <!-- Start Month & Year -Section -->
            <div class="start-month-year">

                <!-- Start Month -Dropdown -->
                <select class="start_month" type="text" name="startmonth">

                    <!-- Default Option -->
                    <option value="{{ experience.start_month }}" selected hidden>{{ experience.start_month }}</option>

                    {% for month in months %}
                    <option value="{{ month }}">{{ month }}</option>
                    {% endfor %}

                </select>

                <!-- Start Year -Dropdown -->
                <select class="start_year" type="text" name="startyear">

                    <!-- Default Option -->
                    <option value="{{ experience.start_year }}" selected hidden>{{ experience.start_year }}</option>

                    {% for year in years %}
                    <option value="{{ year }}">{{ year }}</option>
                    {% endfor %}

                </select>

            </div>

            <!-- End Month & Year -Section -->
            <div class="end-month-year">

                <!-- End Month -Dropdown -->
                <select class="end_month" type="text" name="endmonth">

                    <!-- Default Option -->
                    <option value="{{ experience.end_month }}" selected hidden>{{ experience.end_month }}</option>

                    {% for month in months %}
                    <option value="{{ month }}">{{ month }}</option>
                    {% endfor %}

                </select>

                <!-- End Year -Dropdown -->
                <select class="end_year" type="text" name="endyear">

                    <!-- Default Option -->
                    <option value="{{ experience.end_year }}" selected hidden>{{ experience.end_year }}</option>

                    {% for year in years %}
                    <option value="{{ year }}">{{ year }}</option>
                    {% endfor %}

                </select>

            </div>

            <!-- Button -Section -->
            <div class="form-buttons">

                <input type="button" class="back-button" value="Back">

                <input type="submit" class="continue-button" value="Continue">

            </div>

        </form>

        <!-- Confirmation-Dialog -->
        <div class="confirmation-wrapper">
            <div class="confirmation-dialog">
                <h2 class="confirm-question">Looks like you haven't entered any past work experience. We
                    recommend entering at least your last position and company.</h2>
                <div class="confirm-option">
                    <a class="confirm-yes">Yes</a>
                    <a class="confirm-no">No</a>
                </div>
            </div>
        </div>

    </div>

</section>

{% endblock %}


{% block tipscontent %}

<!-- Tips -Content -->
<p class="p-heading">You have more work experience than you think..</p>
<p>Even if you have never worked in a company before, it's likely that you still have relevant
    experience like:</p>

<ul>
    <li>Part-time jobs</li>
    <li>Paid/unpaid internships</li>
    <li>Seasonal jobs</li>
    <li>Work study jobs</li>
</ul>

<p class="p-last-para">Eventhough you're an entry-level candidate, hiring managers aren't looking
    for established work
    experience. They just want to know that you're an active and engaged person with a solid
    background.</p>

{% endblock %}