{% extends "builderTemplate.html" %}
{% load static %}


{% block formcontent %}

<!-- Forms -Section -->
<section class="forms-entry">

    <!-- Forms Title -->
    <h1>Let's Start with your <span class="mid-blue">Contact</span> Info!</h1>

    <!-- Personal-Details-Form -->
    <form class="personal-details-form" method="POST" autocomplete="on">

        {% csrf_token %}

        <!-- First & Last name -Section -->
        <div class="firstname-lastname">

            <input class="first_name" type="text" name="firstname" value="{{ formData.first_name }}"
                placeholder="First Name*" autocomplete="name">

            <input class="last_name" type="text" name="lastname" value="{{ formData.last_name }}" placeholder="Last Name*"
                autocomplete="name">

        </div>

        <!-- Email & Phone -Section -->
        <div class="email-phone">

            <input class="current_email" type="email" name="currentemail" value="{{ formData.current_email }}"
                placeholder="Email*" autocomplete="email">

            <input class="phone_number" type="tel" name="phonenumber" value="{{ formData.phone_number }}"
                placeholder="Phone" autocomplete="mobile">

        </div>

        <!-- Address -Section -->
        <div class="text-container physical-address">

            <textarea class="current_address" type="text" name="currentaddress" placeholder="Address"
                autocomplete="street-address">{{ formData.current_address }}</textarea>

        </div>

        <!-- Country & City -Section -->
        <div class="country-city">

            <!-- Country -Dropdown -->
            <select class="current_country" type="text" name="currentcountry">

                <!-- Default Option -->
                <option value="{{ formData.current_country }}" selected hidden>{{ formData.current_country }}</option>

                {% for country in countries %}
                <option value="{{ country.name }}">{{ country.name }}</option>
                {% endfor %}

            </select>

            <input class="current_city" type="text" name="currentcity" value="{{ formData.current_city }}"
                placeholder="City">

        </div>

        <!-- State Name & PinCode -Section -->
        <div class="state-pincode">

            <input class="current_state" type="text" name="currentstate" value="{{ formData.current_state }}"
                placeholder="State/Province">

            <input class="pin_code" type="text" name="pincode" value="{{ formData.pin_code }}" placeholder="Pincode"
                autocomplete="postal-code">

        </div>

        <!-- Button -Section -->
        <div class="form-buttons">

            <input type="button" class="back-button" value="Back">

            <input type="submit" class="continue-button" value="Continue">

        </div>

    </form>

    <!-- Confirmation-Dialog -->
    <div class="confirmation-wrapper">
        <div class="confirmation-dialog">
            <h2 class="confirm-question">If you go back the data entered is not saved, are you sure?</h2>
            <div class="confirm-option">
                <a class="confirm-yes">Yes</a>
                <a class="confirm-no">No</a>
            </div>
        </div>
    </div>

</section>

{% endblock %}


{% block tipscontent %}

<!-- Tips -Content -->
<ul>
    <li>Use a professional sounding email address.</li>
    <li>Other info like phone number and location are optional, check the job requirements to see
        what you should include.</li>
</ul>

{% endblock %}