{% extends "builderTemplate.html" %}
{% load static %}


{% block formcontent %}

<!-- Forms -Section -->
<section class="forms-entry">

    <!-- Forms Title -->
    <h1>Add your <span class="mid-blue">Additional Skills</span> to display</h1>

    <!-- Additional-Skills -Form -->
    <form class="additional-skills-form" method="POST" autocomplete="on">

        {% csrf_token %}

        <!-- AdditionalSkills  -Inputs -->
        <div class="skills-container">

            <input class="skill_1" type="text" name="skill1" value="{{skills.skill_1}}"
                placeholder="Additional Skill #1">

            <input class="skill_2 hide" type="text" name="skill2" value="{{skills.skill_2}}"
                placeholder="Additional Skill #2">

            <input class="skill_3 hide" type="text" name="skill3" value="{{skills.skill_3}}"
                placeholder="Additional Skill #3">

            <input class="skill_4 hide" type="text" name="skill4" value="{{skills.skill_4}}"
                placeholder="Additional Skill #4">

            <input class="skill_5 hide" type="text" name="skill5" value="{{skills.skill_5}}"
                placeholder="Additional Skill #5">

            <input class="skill_6 hide" type="text" name="skill6" value="{{skills.skill_6}}"
                placeholder="Additional Skill #6">

            <input class="skill_7 hide" type="text" name="skill7" value="{{skills.skill_7}}"
                placeholder="Additional Skill #7">

            <input class="skill_7 hide" type="text" name="skill7" value="{{skills.skill_7}}"
                placeholder="Additional Skill #7">

            <input class="skill_8 hide" type="text" name="skill8" value="{{skills.skill_8}}"
                placeholder="Additional Skill #8">

            <input class="skill_9 hide" type="text" name="skill9" value="{{skills.skill_9}}"
                placeholder="Additional Skill #9">

            <input class="skill_10 hide" type="text" name="skill10" value="{{skills.skill_10}}"
                placeholder="Additional Skill #10">

            <input class="skill_11 hide" type="text" name="skill11" value="{{skills.skill_11}}"
                placeholder="Additional Skill #11">

            <input class="skill_12 hide" type="text" name="skill12" value="{{skills.skill_12}}"
                placeholder="Additional Skill #12">

            <input class="skill_13 hide" type="text" name="skill13" value="{{skills.skill_13}}"
                placeholder="Additional Skill #13">

            <input class="skill_14 hide" type="text" name="skill14" value="{{skills.skill_14}}"
                placeholder="Additional Skill #14">

            <input class="skill_15 hide" type="text" name="skill15" value="{{skills.skill_15}}"
                placeholder="Additional Skill #15">

            <input class="skill_16 hide" type="text" name="skill16" value="{{skills.skill_16}}"
                placeholder="Additional Skill #16">

        </div>

        <!-- Add Skill -Button -->
        <div class="add-more">
            <a><img src="{% static 'Assets/Images/add.png' %}"> <span>Add &nbsp;Skill</span></a>
            <p class="warning hide">Add atleast 3 skills</p>
        </div>

        <!-- Button -Section -->
        <div class="form-buttons">
            <input type="button" class="back-button" value="Back">
            <input type="submit" class="continue-button" value="Continue">
        </div>

    </form>

</section>

{% endblock %}


{% block tipscontent %}

<!-- Tips -Content -->
<ul>
    <li>You should include specific skills including language, technology, equipment, software, and
        other quantifiable abilites you've learned through your studies or previous work
        experiences.</li>
    <li>Always choose skills that are relevant to the job(s) that you're appling for.</li>
    <li>We recommend adding 3-6 skills.</li>
</ul>

{% endblock %}