{% extends "base.html" %}
{% load static %}

{% block title %}Step 2 : Select your Resume Template | ReSume - Builder{% endblock %}
{% block meta_description %}ReSume - Step two pick the best resume templates which suits you, from our list of
professional designs{% endblock %}

{% block content %}


<article class="templates">

    <!-- Templates-Slider -->
    <section class="template-slider">

        <!-- Previous Button -->
        <a class="arrow-button previous disabled">&#10094;</a>

        <div class="template-1 position0">
            <img src="{% static 'Assets/Images/template_01.jpg' %}">
        </div>

        <div class="template-2 position1">
            <img src="{% static 'Assets/Images/template_02.jpg' %}">
        </div>

        <div class="template-3 position2">
            <img src="{% static 'Assets/Images/template_03.jpg' %}">
        </div>

        <div class="template-4 positionright">
            <img src="{% static 'Assets/Images/template_04.jpg' %}">
        </div>

        <div class="template-5 positionright">
            <img src="{% static 'Assets/Images/template_05.jpg' %}">
        </div>

        <div class="template-6 positionright">
            <img src="{% static 'Assets/Images/template_06.jpg' %}">
        </div>

        <div class="template-7 positionright">
            <img src="{% static 'Assets/Images/template_07.jpg' %}">
        </div>

        <div class="template-8 positionright">
            <img src="{% static 'Assets/Images/template_08.jpg' %}">
        </div>

        <!-- Next Button -->
        <a class="arrow-button next">&#10095;</a>

    </section>

    <!-- Message Container -->
    <h4 class="error-message">error: 404</h4>

    <!-- Templates-Toolbar -->
    <form class="template-toolbar" action="{% url 'download-template-pdf' %}" method="POST">

        {% csrf_token %}

        <!-- Edit -Button -->
        <a class="edit-button">
            <img src="{% static 'Assets/Images/edit.png' %}">
            <span>&ensp;Edit Resume</span>
        </a>

        <!-- Download -Button -->
        <label class="download-button">
            <input class="submit-button" type="submit" hidden>
            <img src="{% static 'Assets/Images/download.png' %}">
            <span>&ensp;Save & Download</span>
        </label>

    </form>

</article>


{% endblock %}